.add-property {
  padding: 10px;
  margin-left: 10px;
  width: 100%;
}

.form-add-property {
  display: flex;
  flex-direction: column;
  width: 50%;
}

label {
  display: grid;
}

.input-fields {
  margin: 3px;
}

.add-button {
  margin: 10px 10px 10px 10px;
  width: 40%;
}

@media only screen and (min-width: 961px) {
  
}