.favourite {
  grid-column: 1 / 4;
  grid-row: 3 / 4;
  background-image: url("images/real-estate.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.favourite-cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
}

.favourite-card {
  background-color: white;
  text-align: center;
  padding: 10px;
}

@media only screen and (min-width: 961px) {
  .favourite {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .favourite-cards {
    grid-template-columns: repeat(4, 1fr);
    padding: 20px;
  }
}